@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: rgba(163, 168, 153, 0.4);
}

a{
  text-decoration: none !important;
}

.brand_item{
  color:#4A2121;
  font-weight: bold;
}

.bg-light{
  background-color: #FFBFA8 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link{
  color:black;
  padding: 1rem;
  font-size: 16px;
}

.navbar-light ul li a{
  color: black !important;
}

.navbar-light .navbar-toggler{
  background-color: white;
}

.dropdown-menu{
  background-color: #FFBFA8;
}

#banner_carousel .container-fluid{
  padding-left: 0;
  padding-right: 0;
}

#banner1{
  margin-top: 60px;
  background: #333 url(/images/banner1.jpeg) no-repeat center center/cover;
  height: 70vh;
}

#banner2{
  margin-top: 60px;
  background: #333 url(/images/banner4.jpeg) no-repeat center center/cover;
  height: 70vh;
}

#banner3{
  margin-top: 60px;
  background: #333 url(/images/banner7.jpeg) no-repeat center center/cover;
  height: 70vh;
}

.banner_item{
 display: flex;
 flex-direction: column;
 text-align: center;
 height: 100%;
 justify-content: center;
 align-items: center;
 color: white;

}

.banner_item h1{
  font-size: 50px;
}

.banner_item p{
  font-size: 20px;
  font-weight: bold;
}

.btn{
  color: white;
  padding: 5px;
  border: 2px solid;
  border-color:#FFBFA8;
  width: 150px;
}

#membership_plan{
  margin: 100px 0px;
}

#membership_plan .container{
  display: flex;
  justify-content: space-around;
}

.plan_item{
  
  box-shadow: 1px 1px 2px black;
  padding: 0px;
  width: 250px;
  text-align: center;
}

.plan_item h1{
  padding: 25px 10px;
  background-color: #FFBFA8;
  height:100px;
  margin: 0;
}

.plan_item h2{
  background-color: gray;
  height:70px;
  padding: 20px 0px;
  font-size: 20px;
}

.bg_btn{
  background-color: #FFBFA8;
}

.btn_plan{
  height: 50px;
  font-size: 18px;
  color:white;
  font-weight: bold;
  margin: 15px 0px;
  background-color: grey;
}

 .heading{
  text-align: center;
  margin-bottom: 40px;
  margin-left:10px;
  margin-right:10px;
}

.sub_heading{
  font-weight: bold;
  font-size: 35px;
}

.heading h1{
  font-size: 35px;
}

.plan_tittle{
  color: black;
  font-weight: bold;
}